
.pokedex-view {
    width: 100%;
    height: 100vh;
    max-width: 480px; /* Reducido para un aspecto más compacto */
    background: linear-gradient(145deg, #ff0000, #cc0000);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.title {
    font-size: 1.5rem; /* Reducido para ajustarse mejor */
    font-weight: 400; /* La fuente ya es bold por defecto */
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.pokedex {
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.graph {
    flex: 1;
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.graph:hover {
    transform: scale(1.02);
}

/* Media query para pantallas más pequeñas */
@media (max-height: 600px) {
    .pokedex-view {
        height: auto;
        min-height: 100vh;
    }
    
    .content-container {
        height: auto;
    }
}