<section class="pokedex-view">
    <span class="title">Pokedex</span>
    <div class="content-container">
        <div class="search-container">
            <input type="number" [(ngModel)]="searchId" placeholder="Buscar por ID" class="search-input">
            <button (click)="searchPokemon()" class="search-button">Buscar</button>
        </div>
        <section class="pokedex">
            <app-pokedex [imageUrl]=pokemonImagen (pokemonId)="changePokemon($event)"></app-pokedex>
        </section>
        
        <section class="graph"> 
            <app-graph [pokemonId]="pokemonId"></app-graph>
        </section>
    </div>
</section>